/* Style Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
/* Main background color */
body {
    background-color: #041a22;
}
/* Navigation Styling */
nav {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 1px solid #5f9ea0;
}
nav h1 {
    margin: 10px;
    font-size: 1.5rem;
    min-width: 250px;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 10px;
}
nav ul li {
    margin: 20px;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 1.25rem;
}
nav ul li a:hover {
    color:#5f9ea0;
}

/* About Styling*/

main {
    width: 100%;
    margin: 10px auto;
    text-align: justify;
}

section#about {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-width: 300px;
    max-width: 500px;
    min-height: 500px;
}
p {
    background: black;
    color: white;
    margin: 10px;
    padding: 15px 20px;
    border: 3px solid #5f9ea0;
    border-radius: 15px;
    font-size: .75rem;
}

#profile_pic {
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 3px solid #5f9ea0;
    border-radius: 50%;
}

.grid-tech {
    color: #5f9ea0;
    background: #000000;
    border: 1px solid #fff;
    border-radius: 15px;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    
}
.grid-tech hr {
    background: linear-gradient(to right,#e3e1e1, #5f9ea0, #e3e1e1);
    height: 5px;
    width: 80%;
    margin: 10px auto;
}
.grid-tech h2 {
    width: 100%;
    display: block;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 10px;
}
.grid-tech ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 30px;
    width: 100%;
    list-style: none;
}
.grid-tech ul li {
    margin: 0 auto;
    font-weight: 600;
}

/* Projects */
#projects {
    display: grid;
    grid-template-areas: 1fr 1fr 1fr;

    margin: 50px;
    padding: 30px;
}
#projects h2 {
    margin: 30px auto;
    display: block;
    color: white;
}
#projects .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card {
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: #000;
    padding-top: 15px;
    margin: 15px;
}
.card img {
    border: 1px solid #5f9ea0;
}
.card p {
    width: 300px;
    font-size: 0.70rem;
    border: none;
}
.card ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 100%;
}
.card ul li a {
    background: #041a22;
    color: white;
    padding: 10px;
    

}
.card img {
    width: 200px;
    margin: 15px 10px

}

